<div class="container">
	<%= form_with(model: trip, local: true, html: {autocomplete: "off" }) do |form| %>
	  <% if trip.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

	      <ul>
	      <% trip.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <%= form.hidden_field :user_id, value: current_user.id %>

		<div class="form-row">
			<div class="col-8">
				<label>Name</label>
				<%= form.text_field :name, class: "form-control form-control-lg", placeholder: "Trip Name" %>
			</div>

			<div class="col-4">
				<label>Budget</label>
				<%= form.text_field :budget, class: "form-control form-control-lg", placeholder: "$" %>
			</div>

		</div>

		<br />

		<div class="form-row">
			<div class="col-6">
				<label>Start Date</label>
				<%= form.date_field :start_date, min: Date.today, class: "form-control form-control-lg" %>
			</div>

			<div class="col-6">
				<label>End Date</label>
				<%= form.date_field :end_date, min: Date.today, class: "form-control form-control-lg" %>
			</div>
		</div>

		<br />

		<button type="submit" class="buttons">Confirm</button>

		<% end %>

		<br />

		<footer>
			<%= link_to image_tag("icons/back.png", class: "icons-trips"), trips_path %>
		</footer>

</div>