<h1>New Expense</h1>

<div class="container">

	<div class="iconHeader-container">
		<div></div>

		<div class="homeBye-container">
			<%= link_to image_tag("icons/house.png", class: "icons-trips", title: "Trips"), root_path %>
			<%= link_to image_tag("icons/exit.png", class: "icons-trips", title: "Logout", id: "exit"), destroy_user_session_url, method: :delete %>
		</div>
	</div>

<%= form_with scope: :expense, url: expenses_path, html: { autocomplete: "off" }, local: true do |form| %>

	<input type="hidden" value="<%= @trip.id %>" name="expense[trip_id]"></input>

	<div class="form-row">
		<div class="col-9 col-lg-6">
			<label>Trip</label>
			<input type="text" class="form-control form-control-lg" value="<%= @trip.name %>" disabled/>
		</div>
	</div>

	<br />

	<div class="form-row">
		<div class="col-9 col-lg-6">
			<label>Expenses Details</label>
			<%= form.text_field :details, class: "form-control form-control-lg", placeholder: "Toiletries" %>
		</div>

		<div class="col-3 col-lg-6">
			<label>Amount</label>
			<%= form.number_field :amount, class: "form-control form-control-lg", placeholder: "$" %>
		</div>
	</div>

	<br />

	<div class="form-row">
		<div class="col-9 col-lg-6">
			<label>Category</label>
			<%= form.collection_select :category_id, @categories, :id, :name,{prompt: "Select category"}, {class: "form-control form-control-lg", id: "selectInput"} %>
		</div>


			<div class="col-3 col-lg-6">
				<label></label>
				<%= form.check_box :spent, :data => { :toggle => 'toggle', :on => "Paid", :off => "Not Paid", :onstyle => "success", :offstyle => "danger" } %>
			</div>

	</div>

	<br />

	<button type="submit" class="buttons">Confirm</button>
<% end %>

	<br />
	<footer>
			<%= link_to image_tag("icons/back.png", class: "icons-trips"), expenses_path %>
		</footer>
</div>